div {
  background-color: rgb(157, 199, 226);
  color: rgb(255, 255, 255);
  font-family: 고딕;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: white;
  background-color: #2EFE2E;
  padding: 10px;
  font-family: 궁서;
}