div {
  background-color: rgb(189, 169, 235);
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: 고딕;
  text-align: center;
  margin: 0 auto; 
}

h1 {
  color: white;
  background-color: #3f813f;
  padding: 10px;
  font-family: 궁서;
}